body{
    font-family: Arial;
    text-align:center;
}

form{
    width:300px;
    margin:auto;
}

input{
    width:100%;
    padding:8px;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
}